@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
header {
    text-align: center;    
    h1 {
        font-family: 'Open Sans', sans-serif;
        color: #1E2327;
        font-size: 2.6rem;
        margin: 0;
    }
}