.container {
    width: 1440px; 
    margin: 0 auto;
    font-family:  "Open Sans", sans-serif;

    h2 {
        text-align: center;
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.6rem;
    }
}