@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.article__thumbnail {
  width: 400px;
  height: 450px;
  background-color:#4A5254;
  border-radius: 20px;
  overflow: hidden;

  @keyframes to-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  &:hover {
    animation: to-top 0.5s ease-in-out forwards;
  }


  img {
    display: block;
    width: 100%;
    height: 250px;
    background-color:red;
  }
  &-text {
    font-family: 'Open Sans', sans-serif;
    .title {
        color: #fce083;
        font-size: 1.2rem;
        margin-left: 15px;
    }
    .author-date, .type {
        color: #fff;
        font-size: 0.9rem;
        margin-left: 15px;
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: #fce083;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 500;
            margin-top: 30px;
        }
    }
  }
}